body {
	font-family: arial;
	font-size: 15px;
	line-height: 1.6em;
	background-image: url("images/bg2.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}
li {
	list-style: none;
}
.container {
	width: 70%;
	margin: 20px auto;
	overflow: auto;
}
.pull-left {
	float: left;
}
header {
	background: #1f88f4;
	color: #ffffff;
	padding: 5px 10px;
	overflow: auto;
	font-size: 16px;
}
footer {
	background: #1f88f4;
	color: #ffffff;
	padding: 5px 10px;
	overflow: auto;
}

@media only screen and (max-width: 900px) {
	.container {
	width: 90%;
}
