body{
    font-family:Optima, sans-serif;
    background-image:url("images/bg4.jpeg");
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    width: 100%;
}
TEXTAREA{
    border:none;
    font-family:Optima, sans-serif;
    font-size:11px;
    padding: 8px;
    color:white;
    background-color:transparent;
    text-align:center;
}
#A1, #A2, #A3, #A4 {
    visibility:hidden;
    width: 20px;
    height: 20px;
}
#A3 {
    visibility: hidden;
    width: 45px;
    height: 45px;
}
#A4 {
     visibility: hidden;
    width: 45px;
    height: 45px;   
}
input{
    color:white;
    background-color:transparent;
    border-color:white;
    font-size:11px;
}
form{
    font-size:50%;
    text-align:left;
}
#score{
    color:white;
    background-color:transparent;
    border-color:white;
    font-size:11px;
    width:15%;
}
